body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.transpose-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #20080a;
    color: white;
    border: none;
    cursor: pointer;
}

.chord {
    color: brown;
}

